/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* меню */

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  background-color: var(--accent-color, #000);
  height: 2px;
  bottom: -2px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -20px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

/* сердечко */

.contour {
  fill: var(--heart-contour, #000);
  transition: fill 0.1s linear;
}
.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
}

.sparks {
  opacity: 0;
}

/* при наведении  */

.like-icon:hover .core {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

/* при клике */

.like-icon.is-liked .core {
  fill: var(--fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color, #ff0000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color, #ff0000);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s 1 normal none running;
  transform-origin: 50%;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: 300ms ease-in 300ms 1 alternate none running sparks;
}

@keyframes sparks {
  0% {
    opasity: 0;
  }

  100% {
    opasity: 1;
  }
}

/* не понимаю, почему не отображаются спаркс( */
